<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Memo</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <%= yield %>
  </body>
</html>
